fastapi==0.104.1
uvicorn[standard]==0.24.0
sentence-transformers==2.2.2
huggingface-hub<0.19
faiss-cpu==1.8.0
pydantic==2.5.0
numpy>=1.26.4,<2
python-multipart==0.0.6
llama-cpp-python==0.2.82
itsdangerous==2.2.0
requests==2.31.0
